Repository SpyglassMC/Spyglass, pull requests merged in 2024-06, with the labels that each got.

#1187 ✨ Basic mcdoc runtime checker
  packages/java-edition/src/json/checker/index.ts
  packages/locales/src/locales/en.json
  packages/mcdoc/src/binder/index.ts
  packages/mcdoc/src/index.ts
  packages/mcdoc/src/node/index.ts
  packages/mcdoc/src/runtime/checker/index.ts
  packages/mcdoc/src/runtime/index.ts
  packages/mcdoc/src/type/index.ts
  packages/mcdoc/test/type/index.spec.ts
  packages/nbt/src/checker/index.ts
Labels: ✨ feature, /mcdoc

#1231 ✨ Fully support mcdoc defined resources, refactor java-edition binder
  packages/core/src/service/Config.ts
  packages/core/src/service/Context.ts
  packages/core/src/symbol/Symbol.ts
  packages/java-edition/src/binder/index.ts
  packages/java-edition/src/json/checker/index.ts
  packages/java-edition/test/json/binder/index.spec.ts
  packages/json/src/checker/index.ts
Labels: /mcdoc, /mcdoc-cli

#1380 :bug: Fix selector parser being too strict in /say
  packages/java-edition/src/mcfunction/parser/argument.ts
Labels: 🐛 bug, /mcfunction
